/* Cool colors of the north */
/*North Night*/
$north1:    #2e3440;
$north2:    #3b4252;
$north3:    #434c5e;
$north4:    #4c566a;
/*North Storm*/
$north5:    #d8dee9;
$north6:    #e5e9f0;
$north7:    #eceff4;
/*Cold*/
$north8:    #8fbcbb;
$north9:    #88c0d0;
$north10:    #81a1c1;
$north11:   #5e81ac;
/*Aurora Borealis*/
$north12:   #bf616a;
$north13:   #d08770;
$north14:   #ebcb8b;
$north15:   #a3be8c;
$north16:   #b48ead;


/* Vlad Themes Colors */
$vlad1:     #282a36;    // 40 42 54     // 231° 15% 18%
$vlad2:     #44475a;    // 68 71 90     // 232° 14% 31%
$vlad3:     #44475a;    // 68 71 90     // 232° 14% 31%
$vlad4:     #f8f8f2;    // 248 248 242  // 60° 30% 96%
$vlad5:     #6272a4;    // 98 114 164   // 225° 27% 51%
$vlad6:     #8be9fd;    // 139 233 253  // 191° 97% 77%
$vlad7:     #50fa7b;    // 80 250 123   // 135° 94% 65%
$vlad8:     #ffb86c;    // 255 184 108  // 31° 100% 71%
$vlad9:     #ff79c6;    // 255 121 198  // 326° 100% 74%
$vlad10:    #bd93f9;    // 189 147 249  // 265° 89% 78%
$vlad11:    #ff5555;    // 255 85 85    // 0° 100% 67%
$vlad12:    #f1fa8c;    // 241 250 140  // 65° 92% 76%

/* Cool Solar Themes (For Crazy Ppl)*/
$sol1:      #002b36;
$sol2:      #073642;
$sol3:      #586e75;
$sol4:      #657b83;
$sol5:      #839496;
$sol6:      #93a1a1;
$sol7:      #eee8d5;
$sol8:      #fdf6e3;
$sol9:      #b58900;
$sol10:     #cb4b16;
$sol11:     #dc322f;
$sol12:     #d33682;
$sol13:     #6c71c4;
$sol14:     #268bd2;
$sol15:     #2aa198;
$sol16:     #859900;

/*Retro Style Apple-ish colors*/
$retr1:     #1d2021;
$retr2:     #32302f;
$retr3:     #504945;
$retr4:     #7c6f64;
$retr5:     #928374;
$retr6:     #f9f5d7;
$retr7:     #f2e5bc;
$retr8:     #d5c4a1;
$retr9:     #fb4934;
$retr10:    #b8bb26;
$retr11:    #fabd2f;
$retr12:    #83a598;
$retr13:    #d3869b;
$retr14:    #8ec07c;
$retr15:    #fe8019;
$retr16:    #cc241d;
$retr17:    #98971a;
$retr18:    #d79921;
$retr19:    #458588;
$retr20:    #b16286;
$retr21:    #689d6a;
$retr22:    #d65d0e;

/*Sublime Mono Theme*/
$mono1:     #1B1B1B;
$mono2:     #222;
$mono3:     #272822;
$mono4:     #373831;
$mono5:     #444;
$mono6:     #75715E;
$mono7:     #767676;
$mono8:     #8D8D8A;
$mono9:     #F8F8F2;
$mono10:    #f8f8f0;
$mono11:    #FFF;
$mono12:    #E6DB74;
$mono13:    #66D9EF;
$mono14:    #AE81FF;
$mono15:    #A6E22E;
$mono16:    #F92672;

/*Zen Burn Theme (Like Solar buth weird)*/
$zen1:      #171717;
$zen2:      #202020;
$zen3:      #404040;
$zen4:      #757978;
$zen5:      #9FA590;
$zen6:      #B2A191;
$zen7:      #E8D0C3;
$zen8:      #BF7A29;
$zen9:      #627A92;
$zen10:     #75507B;
$zen12:     #707D22;
$zen13:     #BF3F34;
$zen14:     #C7A551;
$zen15:     #95B9DE;
$zen16:     #AD7FA8;
$zen17:     #B8CA4B;
$zen18:     #FF6C5F;
